<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>养殖基地</title>
  <link rel="stylesheet" href="../css/index.css"/>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/breed.css">
</head>
<body>
 <div class="milk">
  <!-- 头部开始 -->
  <div class="header">
    <div class="header-left">
      <h1>
        <span>y</span>
        <p>泸州泳余生态农庄</p>
        <p>ong yu sheng tai</p>
      </h1>
    </div>
    <div class="header-right">
      <div class="header-right-img"></div>
      <span></span>
      <ul class="nav">
        <li><a href="index.html">首页</a></li>
        <li><a href="abouts.html">公司简介</a></li>
        <li><a href="javascript:location.reload();">养殖基地</a></li>
        <li><a href="product.html">产品中心</a></li>
        <li><a href="new.html">新闻中心</a></li>
        <li><a href="contactus.html">联系我们</a></li>
      </ul>
    </div>
  </div>
  <!-- 轮播图开始 -->
  <div class="banner">
    <ul class="img-box">
      <li><a href="#"><img src="../images/b3.jpg" alt=""></a></li>
      <li><a href="#"><img src="../images/b1.jpg" alt=""></a></li>
      <li><a href="#"><img src="../images/b2.jpg" alt=""></a></li>
      <li><a href="#"><img src="../images/b3.jpg" alt=""></a></li>
      <li><a href="#"><img src="../images/b1.jpg" alt=""></a></li>
    </ul>
    <ol class="points">
      <li class="current"></li>
      <li></li>
      <li></li>
    </ol>
  </div>
  <!-- 养殖基地开始 -->
  <div class="breed">
    <div class="title">
      <span>\ 养殖基地</span>
    </div>
    <div class="breed-body">
     <div class="breed-in">
       <img class="breed-img" src="../images/breed1.png" alt="">
       <img class="breedbg" src="../images/breedbg.png" alt="">
       <p>养殖场周边</p>
     </div>
     <div class="breed-in">
       <img class="breed-img" src="../images/breed2.png" alt="">
       <img class="breedbg" src="../images/breedbg.png" alt="">
       <p>碧草蓝天</p>
     </div>
     <div class="breed-in">
       <img class="breed-img" src="../images/breed3.png" alt="">
       <img class="breedbg" src="../images/breedbg.png" alt="">
       <p>整洁的羊舍</p>
     </div>
     <div class="breed-in">
       <img class="breed-img" src="../images/breed4.png" alt="">
       <img class="breedbg" src="../images/breedbg.png" alt="">
       <p>羊舍内部</p>
     </div>
     <div class="breed-in">
       <img class="breed-img" src="../images/breed5.png" alt="">
       <img class="breedbg" src="../images/breedbg.png" alt="">
       <p>玩耍的羊群</p>
     </div>
     <div class="breed-in">
       <img class="breed-img" src="../images/breed6.jpg" alt="">
       <img class="breedbg" src="../images/breedbg.png" alt="">
       <p>妈妈和仔仔</p>
     </div>
     <div class="breed-in">
       <img class="breed-img" src="../images/breed7.jpg" alt="">
       <img class="breedbg" src="../images/breedbg.png" alt="">
       <p>有爱的羊羊</p>
     </div>
   </div>
 </div>
 <!-- 服务热线 -->
 <div class="server">
  <div class="server-in">
    <div class="server-left"><img src="../images/ejpg.jpg" alt=""></div>
    <div class="server-right">
      <p>服务热线：9999-123456</p>
      <p>Copyright @ liergou.vip</p>
      <p>All Rrghts Reserved.</p>
      <p>技术支持 二狗工作室</p>
    </div>
  </div>
</div>
</div>
</body>
<script src="../js/common.js"></script>
<script src="../js/index.js"></script>
</html>
