<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/index.css"/>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/new.css">
</head>
<body>
  <div class="milk">
    <!-- 头部开始 -->
    <div class="header">
      <div class="header-left">
        <h1>
          <span>y</span>
          <p>泸州泳余生态农庄</p>
          <p>ong yu sheng tai</p>
        </h1>
      </div>
      <div class="header-right">
        <div class="header-right-img"></div>
        <span></span>
        <ul class="nav">
          <li><a href="index.html">首页</a></li>
          <li><a href="abouts.html">公司简介</a></li>
          <li><a href="breed.html">养殖基地</a></li>
          <li><a href="product.html">产品中心</a></li>
          <li><a href="javascript:location.reload();">新闻中心</a></li>
          <li><a href="contactus.html">联系我们</a></li>
        </ul>
      </div>
    </div>
    <!-- 轮播图开始 -->
    <div class="banner">
      <ul class="img-box">
        <li><a href="#"><img src="../images/b3.jpg" alt=""></a></li>
        <li><a href="#"><img src="../images/b1.jpg" alt=""></a></li>
        <li><a href="#"><img src="../images/b2.jpg" alt=""></a></li>
        <li><a href="#"><img src="../images/b3.jpg" alt=""></a></li>
        <li><a href="#"><img src="../images/b1.jpg" alt=""></a></li>
      </ul>
      <ol class="points">
        <li class="current"></li>
        <li></li>
        <li></li>
      </ol>
    </div>
    <div class="news">
      <div class="title"><span>\ 新闻中心</span></div>
      <div class="news-body">
        <img src="../images/newbg.png" alt="">
        <div class="news-in">
          <h3><a href="#">下蛋了，下蛋了，下蛋了，重要的事情说三遍</a></h3>
          <div class="time">2016-11-06</div>
          <img src="../images/new1.JPG" alt="">
          <p>
            泳余生态农庄下蛋了，农庄引进的五黑鸡下蛋了。五黑鸡又名明代黑毛乌骨鸡，是我国稀有珍禽。目前，在江西最为常见，现有1300多年的养殖历史。外型具有黑冠、 黑羽、黑皮、黑肉、黑骨的特性，故名为五黑鸡；内含丰富的黑色素、 氨基酸和黑色胶体，被谓“中国黑宝”、 “鸡中珍品”和“药食兼用型的黑色营养保健食品”之称，受到历代医药家的关注和重视。 据明代李时珍《本草纲目》中的历史记载：“五黑鸡对慢性营养不良型水肿、肝炎、胃炎、十二指肠溃疡、宫颈炎、赤白带、产后虚弱、 风湿性关节炎、哮喘及脑神经痛等疾病有显著疗效。此鸡所产的绿蛋并非色素添加剂的影响，属纯天然，蛋白浓厚，蛋黄呈桔黄色，含有大量的卵磷脂、维生素和微量元素。想试试吗？绿壳鸡蛋配羊奶，绝佳的营养餐哦。现在关注我们的公众号，转发朋友圈，我们即刻免费送上门（生态绿壳鸡蛋10枚）。本活动仅限订奶客户。转发朋友圈后记得截图给我们客服哦。
          </p>
        </div>
      </div>
    </div>
    <!-- 服务热线 -->
    <div class="server">
      <div class="server-in">
        <div class="server-left"><img src="../images/ejpg.jpg" alt=""></div>
        <div class="server-right">
          <p>服务热线：9999-123456</p>
          <p>Copyright @ liergou.vip</p>
          <p>All Rrghts Reserved.</p>
          <p>技术支持 二狗工作室</p>
        </div>
      </div>
    </div>

  </div>
</body>
<script src="../js/common.js"></script>
<script src="../js/index.js"></script>
</html>
